CREATE TABLE Users (    idUser INTEGER PRIMARY KEY AUTOINCREMENT,    nom TEXT NOT NULL,    prenom TEXT NOT NULL,    telephone TEXT UNIQUE NOT NULL,    adresse TEXT NOT NULL,    motDePasse TEXT NOT NULL,    typeUser TEXT NOT NULL CHECK(typeUser IN ('admin','patient','pro')));
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE Administrateurs (    idAdmin INTEGER PRIMARY KEY,    FOREIGN KEY(idAdmin) REFERENCES Users(idUser) ON DELETE CASCADE);
CREATE TABLE Patients (    idPatient INTEGER PRIMARY KEY,    dateDerniereConsultation TEXT,    FOREIGN KEY(idPatient) REFERENCES Users(idUser) ON DELETE CASCADE);
CREATE TABLE ProfessionnelSante (    idPro INTEGER PRIMARY KEY,    titre TEXT NOT NULL,    FOREIGN KEY(idPro) REFERENCES Users(idUser) ON DELETE CASCADE);
CREATE TABLE Disponibilites (    idDispo INTEGER PRIMARY KEY AUTOINCREMENT,    idPro INTEGER NOT NULL,    jour TEXT NOT NULL,    heureDebut TEXT NOT NULL,    heureFin TEXT NOT NULL,    estReservee INTEGER DEFAULT 0,    FOREIGN KEY(idPro) REFERENCES ProfessionnelSante(idPro) ON DELETE CASCADE);
CREATE TABLE Observations (    idObs INTEGER PRIMARY KEY AUTOINCREMENT,    idConsultation INTEGER NOT NULL,    texte TEXT NOT NULL,    FOREIGN KEY(idConsultation) REFERENCES Consultations(idConsultation) ON DELETE CASCADE);
CREATE TABLE Prescriptions (    idPrescription INTEGER PRIMARY KEY AUTOINCREMENT,    idConsultation INTEGER NOT NULL,    medicament TEXT NOT NULL,    posologie TEXT NOT NULL,    duree TEXT NOT NULL,    FOREIGN KEY(idConsultation) REFERENCES Consultations(idConsultation) ON DELETE CASCADE);
CREATE TABLE ResultatsAnalyse (    idResultat INTEGER PRIMARY KEY AUTOINCREMENT,    idConsultation INTEGER NOT NULL,    typeAnalyse TEXT NOT NULL,    valeur TEXT NOT NULL,    unite TEXT,    interpretation TEXT,    FOREIGN KEY(idConsultation) REFERENCES Consultations(idConsultation) ON DELETE CASCADE);
CREATE TABLE DossierMedical (    idDossier INTEGER PRIMARY KEY AUTOINCREMENT,    idPatient INTEGER UNIQUE NOT NULL,    FOREIGN KEY(idPatient) REFERENCES Patients(idPatient) ON DELETE CASCADE);
CREATE TABLE Antecedents (    idAntecedent INTEGER PRIMARY KEY AUTOINCREMENT,    idDossier INTEGER NOT NULL,    texte TEXT NOT NULL,    FOREIGN KEY(idDossier) REFERENCES DossierMedical(idDossier) ON DELETE CASCADE);
CREATE TABLE Consultations (    idConsultation INTEGER PRIMARY KEY AUTOINCREMENT,    idPatient INTEGER NOT NULL,    idPro INTEGER NOT NULL,    datePrevue TEXT NOT NULL,    service TEXT NOT NULL,    diagnostic TEXT,    poids REAL,    idDispo INTEGER,    FOREIGN KEY(idPatient) REFERENCES Patients(idPatient) ON DELETE CASCADE,    FOREIGN KEY(idPro) REFERENCES ProfessionnelSante(idPro) ON DELETE CASCADE,    FOREIGN KEY(idDispo) REFERENCES Disponibilites(idDispo) ON DELETE SET NULL);
